*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: solid 4px rgb(218, 213, 213);
}

.heading{
    background-color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: white;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    word-spacing: 0.2rem;

}
.heading::after{
    content: '';
    display: table;
    clear: both;
}

/* navbar starts here */
.navbar{
    background-color: rgba(240, 233, 233, 0.884);
    display: flex;
    padding:20px;
    color: black;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
.navbar-brand{
    flex: 1;
    justify-content: flex-start;
}
.navbar-menu{
   flex: 2;
   text-align: center;
   /* justify-content: center; */
}
.navbar-menu a{
    margin-left: 20px;

}
.navbar-buttons{
  flex: 1;
  justify-content: flex-end;
  text-align: right;
  
}
.btn-1{
    border: none;
    font-size: 1.2rem;
}
.btn-2{
    background-color: black;
    padding: 15px;
    margin-left: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
}

.navbar::after{
    content: '';
    display: table;
    clear: both;
}
/* navbar ends here */
/* section-one starts here */
.section-one{
    background-color: rgba(240, 233, 233, 0.884); 
    width: auto;
    height: 600px;
    display: flex;
}
#left-div{
    flex: 2;
}


.heading-2{
    font-size: 4rem;
    margin-top: 50px;
    margin-left: 80px;
    text-align: left;
}
.para{
    margin-left: 80px;
    text-align: left;
    font-size: 1.2rem;
    opacity: 0.8;
    margin-top: 10px;
}

.list-items{
    margin-left: 80px;
    margin-top: 20px;
}
.list-items ul li{
    list-style: url(images/Checkmark.svg);
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(5, 2, 2, 0.74);
    margin-top: 10px;
    list-style-position:inside;
}
.button{
    margin-left: 80px;
    margin-top: 20px;
}

#input-1{
    padding: 20px;
    border-radius: 5px;
    border: none;
    border: 2px solid gray;
    font-size: 1.1rem;
    width: 200px;
}

#input-2{
    margin-left: 15px;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 200px;
    font-size: 1.4rem;
}

#banner{
    height: 500px;
    width: auto;
    margin-right: 10px;
    margin-left: 0;
    flex:1
}
.section-one::after{
    content: '';
    display: table;
    clear: both;
}

/* section-one ends here */
/* section two starts here */
.social-icon{
    margin-left: 80px;
}
img{
    height: 60px;
    width: 125px;
    margin-left: 25px;
    padding: 10px;
    margin-top: 20px;    
}
.social-icon::after{
    content: '';
    display: table;
    clear: both;
}
/* section two ends here */
/* section three starts here */
.section-three{
    background-color:rgba(240, 233, 233, 0.884);
    height: 400px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 10px;
}
.lorem{
    flex: 1;
    padding-left: 50px;
    padding-top: 90px;
}
.heading-3{
    font-size: 3rem;
    font-weight: bold;
}
.para-2{
    line-height: 1.5;
    opacity: 0.8;
    color: black;
    margin-top: 20px;
    font-size: 1.2rem;

}
#my-btn{
    margin-top:40px;
    border: none;
    background-color:rgba(240, 233, 233, 0.884) ;
}
.ipsum{
    flex: 1;
}
.img-section{
    height: 300px;
    width: 100%;
}


.section-three::after{
    content: '';
    display: table;
    clear: both;
}
/* section three ends here */
/* section four starts here */
.section-four{
    display: flex;
}
.bg-image{
    flex: 1;
}
.section-4-div{
    flex: 1;
}
.bg-image{
    width: auto;
    margin-left: 100px;
    height: 400px;
    margin-left: 80px;
    margin-top: 20px;
}
.heading-4{
    font-size: 3rem;
    font-weight: bold;
    padding-top: 40px; 
}
.para-3{
    line-height: 1.5;
    opacity: 0.8;
    color: black;
    margin-top: 30px;
    font-size: 1.2rem; 
}

#my-btn-1{
    margin-top:40px;
    border: none;
    background-color:white ;
}
.section-four::after{
    content: '';
    display: table;
    clear: both;
}
/* section four ends here */

/* Footer starts here */
.footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    display: flex;
}
#footer-div{
    flex: 2;
}
.div-1{
    flex:1;
}
.div-2{
    flex:1;
}
.div-3{
    flex:1;
}
.div-4{
    flex:1;
}

.f-header{
    margin-left: 80px;
    font-size: 1.4rem;

}
.last-head{
    color: white;
    font-size: 1.4rem;
    text-align: left;
}
ul li{
    list-style: none;
    padding: 5px;
}
ul li a{
    color:gainsboro;
    text-decoration: none;
    padding-top: 10px;
    font-size: 1.2rem;
}


/* Footer starts here */
@media only screen and (max-width: 600px) {
    .navbar{
        display: block;
        text-align: center;
        font-size: 1.2rem;
    }
    .navbar-menu{
        margin-top: 5px;
    }
    .navbar-buttons{
        text-align: center;
        margin-top: 5px;
    }
    .btn-2{
        padding: 10px;
        font-size: 1rem;
        background-color:rgba(240, 233, 233, 0.884);
        border: none;
        color: black;
        font-size: 1.2rem;
    }
    /* navbar ends hrer */
    /* section one starts here */
    .section-one{
        display: flex;
        flex-direction: column;
        height: auto;

    }
    #left-div{
        height: auto;
        flex: 1;
        order: 2;
    }
    .heading-2{
        font-size: 2rem;
        margin: 10px;
        padding: 10px;
        text-align: left;
    }
    .para{
        margin:10;
        text-align: left;
        font-size: 1rem;
        opacity: 0.8;
    }
    
    .list-items{
        margin:10px;
    }
    .list-items ul li{
        list-style: url(images/Checkmark.svg);
        font-size: 1.2rem;
        font-weight: bold;
        color: rgba(5, 2, 2, 0.74);
        margin: 10px;
        list-style-position:inside;
    }
    .button{
        margin: 20px;
    }
    
    #input-1{
        padding: 20px;
        border-radius: 5px;
        border: none;
        border: 2px solid gray;
        font-size: 1.1rem;
        width: 200px;
        margin-left: 20px;
        text-align: center;
    }
    
    #input-2{
        margin-top: 5px;
        padding: 20px;
        border-radius: 5px;
        background-color: black;
        color: white;
        width: 200px;
        font-size: 1.1rem;
    }
    .banner{
        height: 500px;
        width: 250px;
        flex: 1;
        order: 1;
    }
    /* section one ends here */
    /* section two starts here */
    .social-icon{
        display: inline;
    }
    .social-icon img{
        height: 40px;
        width: 80px;
        margin-left:0px;

    }
    .visul{
        display: none;
    }
    /* section two ends here */
    /* section three starts here */
    .section-three{
        display:flex ;
        flex-direction: column;
        text-align: center;
        background-color:rgba(240, 233, 233, 0.884);
        height: auto;
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    .lorem{
        flex: 1;
        order:2;
    }
    .heading-3{
        font-size: 2rem;
        font-weight: bold;
    }
    .para-2{
        line-height: 1.2;
        opacity: 0.8;
        color: black;
        margin: 10px;
        padding: 10px;
        font-size: 1.2rem;
    
    }
    #my-btn{
        margin:10px;
        border: none;
        background-color:rgba(240, 233, 233, 0.884) ;
    }
    .ipsum{
        flex: 1;
        order:1;
        width: 100%;
        height: auto;
    }

    /* section three ends here */
    /* section four starts here */
    .section-four{
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        height: auto;
        width: 100%;
    }
    .bg-image{
        flex: 1;
        order:1;
        margin-left: 10px;
        height: 400px;
        width: 100%;

    }
    .section-4-div{
        flex: 1;
        order:2;
        padding: 10px;
        margin: 10px;
    }
    .bg-heading{
        font-size: 2rem;
        margin: 10px;
        padding: 10px;
    }
    
    .footer{
        display: block;
        height: auto;
        flex-wrap: wrap;   
    }
    .f-header{
        text-align: left;
        margin: 10px;
        padding: 10px;
    }
    .para{
        text-align: left;
        margin: 10px;
        padding: 10px;
    }
    /* section-four ends here */
    .footer{
        text-align: center;
    }
    .f-header{
        text-align: center;
        margin-left: 5px;
    }
    .last-head{
        text-align: center;
    }
  }


