*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: solid 4px rgb(218, 213, 213);
}

.heading{
    background-color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: white;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    word-spacing: 0.2rem;

}

/* navbar starts here */
.navbar{
    background-color: rgba(240, 233, 233, 0.884);
    height: 100px;
}
.first-nav{
    text-align: center;
    padding: 20px;
}
.first-nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.mid-nav{
    text-align: center;
    padding: 20px;
}
.mid-nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    margin-left: 5px;
}

.login{
    text-align: center;
    padding: 20px;
}
#log{
    font-size: 1rem;
    border: none;
}
#get{
    background-color: black;
    color: blanchedalmond;
    padding: 15px;
    margin-left: 5px;
    border: none;
}
/* navbar ends here */



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 10px;
}

/* navbar starts here */

/* navbar ends here */